@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* 
font-family: 'Cormorant', serif;
font-family: 'Open Sans', sans-serif;

--COLOR PALETTE--
    #4d4054
    #d9ccc3
    #ede6e0
    #f5f5f5
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


.main-section {
    height: 100%;
    background: #f5f5f5;
}

/* ----BACKGROUND SHAPE---- */
.bg-shape{
    position: relative;
}
.bg-shape:after {
    content: '';
    position: absolute;
    width: 600px;
    height: 75%;
    background: #fff;
    border-radius: 50% 50% 0 0;
    bottom: 0;
    left: 17%;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
header nav {
    display: flex;
    justify-content: flex-end;
    gap: 14.5%;
    padding: 45px;
    padding-right: 55px;
    font-size: 17px;
    font-weight: 600;
}
header ul {
    display: flex;
    gap: 111px;
}
header ul li {
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #4d4054;
}
header span {
    cursor: pointer;
    color: #4d4054;
    margin-left: 10px;
}



.main-text {
    position: relative;
    z-index: 2;
    padding: 20vh 9vw 20px;
}
.main-text h1 {
    font-family: 'Cormorant', serif;
    font-size: 150px;
    color: #d9ccc3;
    word-spacing: 6px;
    margin-top: 10%;
}
.main-text h3 {
    font-size: 26px;
    font-weight: 600;
    margin-top: -20px;
    margin-bottom: 35px;
    color: #4d4054;
}
.main-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 60px;
    max-width: 550px;
    color: #4d4054;
}


.btn {
    background: #4d4054;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 22px 70px;
    border-radius: 40px 0px;
}
.socmed-links {
    margin-top: 100px;
}
.socmed-links ul {
    display: flex;
}
.socmed-links ul li {
    list-style: none;
    margin-right: 40px;
}
.socmed-links ul li a{
    text-decoration: none;
    font-size: 2.4em;
    color: #d9ccc3;
}


.slider-container {
    position: absolute;
    bottom: 0;
    right: 9vw;
    z-index: 1;
    width: 55vw;
    height: 105vh;
    overflow: hidden;
    border-radius: 35% 35% 0 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.slides-main {
    /* position: absolute;
    bottom: 0;
    right: 9vw;
    z-index: 1;
    width: 55vw;
    height: 105vh;
    overflow: hidden;
    border-radius: 35% 35% 0 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    outline: 1px solid #fff;
    outline-offset: -30px; */
}

.slides-main img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.slides-main img:first-child {
    z-index: 1;
}
.slides-main img:nth-child(2) {
    z-index: 0;
}

.dot-btn {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: 40px;
    z-index: 100;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border: 1px solid #4d4054;
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #4d4054;
}